<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Cyrello</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-md-3">
            <div class="card text-white bg-login">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <a href="#" class="active" id="login-form-link">로그인</a>
                        </div>
                        <div class="col-6">
                            <a href="#" id="register-form-link">사용자 등록</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <form id="login-form" role="form" style="display: block;" onsubmit="return login();">
                                <div class="form-group">
                                    <input type="text" id="email" tabindex="1" class="form-control" placeholder="Email" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" id="password" tabindex="2" class="form-control" placeholder="Password" />
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6 offset-sm-3">
                                            <input type="submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="로그인" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="register-form" role="form" style="display: none;" onsubmit="return register();">
                                <div class="form-group">
                                    <input type="email" id="reg_email" tabindex="1" class="form-control" placeholder="Email" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" id="reg_password" tabindex="2" class="form-control" placeholder="Password" />
                                </div>
                                <div class="form-group">
                                    <input type="password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" />
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6 offset-sm-3">
                                            <input type="submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="등록" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>